<!DOCTYPE html>
<html>
  <head>
    <title>TodoManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if @current_user%>

<p class="welcome_tag">Welcome  <%= @current_user.first_Name%>
<%=link_to "sign-out" ,session_destroy_path ,method:"delete"%>
</p>
<%end%>
    <%= yield %>
  </body>
</html>
